/***** INFO NÍVEIS DE PROBLEMAS NA COMUNICAÇÃO *****/
#info1 .st0 {
    fill: url(#_56);
}

#info1 .st1, #info1 .st2 {
    fill: none;
}

#info1 .st3 {
    fill: url(#_562);
}

#info1 .st4 {
    fill: url(#_561);
}

#info1 .st5, #info1 .st6, #info1 .st7 {
    fill: #ffd757;
}

#info1 .st8, #info1 .st6, #info1 .st9, #info1 .st10, #info1 .st2, #info1 .st11 {
    fill-rule: evenodd;
}

#info1 .squares{
    mix-blend-mode: multiply;
    opacity:.1;
}

#info1 .st8 {
    fill:#28a39c;
}

#info1 .st12 {
    fill:#4d6db4;
}

#info1 .st13, #info1 .st14, #info1 .st7, #info1 .st15 {
    display: none;
}

#info1 .st13, #info1 .st16 {
    fill: #6bc9c7;
}

#info1 .st17, #info1 .st14, #info1 .st11 {
    fill: #635ea9;
}

#info1 .st18, #info1 .st19, #info1 .st20, #info1 .st21, #info1 .st22, #info1 .st23, #info1 .st24, #info1 .st25, #info1 .st26, #info1 .st27, #info1 .st28, #info1 .st29, #info1 .st30, #info1 .st31, #info1 .st32, #info1 .st33, #info1 .st34, #info1 .st35, #info1 .st36, #info1 .st37, #info1 .st38, #info1 .st39, #info1 .st40, #info1 .st41, #info1 .st42, #info1 .st43, #info1 .st44, #info1 .st45, #info1 .st46, #info1 .st47, #info1 .st48, #info1 .st49, #info1 .st50, #info1 .st51, #info1 .st52, #info1 .st53, #info1 .st54 {
    fill: #ccc;
}

#info1 .st55, #info1 .st9 {
    fill: #28a39c;
}

#info1 .st19 {
    opacity: 0;
}

#info1 .st56 {
    fill: #fff;
}

#info1 .st10 {
    fill: #f5f5f5;
}

#info1 .st20 {
    opacity: .3;
}

#info1 .st21 {
    opacity: .3;
}

#info1 .st22 {
    opacity: .3;
}

#info1 .st23 {
    opacity: .5;
}

#info1 .st24 {
    opacity: .5;
}

#info1 .st25 {
    opacity: .2;
}

#info1 .st26 {
    opacity: .2;
}

#info1 .st27 {
    opacity: .2;
}

#info1 .st28 {
    opacity: .1;
}

#info1 .st29 {
    opacity: .3;
}

#info1 .st30 {
    opacity: .1;
}

#info1 .st31 {
    opacity: .7;
}

#info1 .st32 {
    opacity: .7;
}

#info1 .st33 {
    opacity: .7;
}

#info1 .st34 {
    opacity: .9;
}

#info1 .st35 {
    opacity: .8;
}

#info1 .st36 {
    opacity: .8;
}

#info1 .st37 {
    opacity: .9;
}

#info1 .st38 {
    opacity: .9;
}

#info1 .st39 {
    opacity: .8;
}

#info1 .st40 {
    opacity: .4;
}

#info1 .st41 {
    opacity: .7;
}

#info1 .st42 {
    opacity: .6;
}

#info1 .st43 {
    opacity: .5;
}

#info1 .st44 {
    opacity: .6;
}

#info1 .st45 {
    opacity: .6;
}

#info1 .st46 {
    opacity: .6;
}

#info1 .st47 {
    opacity: 1;
}

#info1 .st48 {
    opacity: .9;
}

#info1 .st49 {
    opacity: .4;
}

#info1 .st50 {
    opacity: .4;
}

#info1 .st51 {
    opacity: .4;
}

#info1 .st52 {
    opacity: 0;
}

#info1 .st53 {
    opacity: 0;
}

#info1 .st54 {
    opacity: 0;
}

#info1 .st57 {
    fill: #273a7e;
}

#info1 .bts {
    animation: move2 1s ease-out infinite alternate;
}

#info1 .bts:hover {
    cursor: pointer;

    transform: translateY(-5px);
	filter: drop-shadow(0 4px 4px #ababab);
}


#info1 .bts:focus {
	animation:none;
	transform: translateY(-5px);
}

#info1 .bts:focus #bt1 {
    animation:none;
	transform: translateY(-5px);
}

#info1 .bts:hover #bt1 #bg1 path {
    transition: .5s;
    fill: #6857DB;
}

#info1 .bts:hover #bt2 #bg2 path {
    transition: .5s;
    fill: #5CD6D0;
}

#info1 .bts:hover #bt3 #bg3 path {
    transition: .5s;
    fill: #2959D6;
}


  @keyframes move2 {
	from {
		transform: translateY(0);
		filter: drop-shadow(0 1px 1px rgba(11,41,39,.5));
	}

	to {
		transform: translateY(-20px);
		filter: drop-shadow(0 10px 4px rgba(11,41,39,.5));
	}
}