/* AULA 1 - INFO 3 */
.st0 {
  fill: #3655a5;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5 {
  stroke: #fff;
  stroke-miterlimit: 10;
}

.st6,
.st2,
.st3,
.st7,
.st4,
.st8 {
  fill-rule: evenodd;
}

.st6,
.st7,
.st9 {
  fill: #6bc9c7;
}

.st1,
.st8 {
  fill: #f4af14;
}

.st10 {
  fill: #2d4b9f;
}

.st2 {
  fill: url(#linear-gradient2);
  fill:#8144ab;
}

.st2,
.st3,
.st4 {
  stroke-width: .2px;
}

.st3 {
  fill: url(#linear-gradient1);
  fill:#8144ab;
}

.st11 {
  fill: #fff;
}

.st7,
.st9,
.st12,
.st8 {
  stroke: #f7f8f9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.1px;
}

.st12 {
  fill: none;
}

.st4 {
  /* fill: url(#linear-gradient); */
  fill:#2d4b9f;
}

.st5 {
  fill: #814cab;
}

#info-europa a:hover #bt-reinounido .st2,
#info-europa a:focus #bt-reinounido .st2,
#info-europa a:hover #bt-reinounido .st3,
#info-europa a:focus #bt-reinounido .st3 {
  transition: .3s;
  fill: #e4daf2;
}

#info-europa a:hover #bt-reinounido .st5,
#info-europa a:focus #bt-reinounido .st5 {
  transition: .3s;
  fill: var(--fio-sys-color-secondary-medium);
}


#info-europa a:hover #bt-estonia .st4,
#info-europa a:focus #bt-estonia .st4 {
  transition: .3s;
  fill: #6994e2;
}

#info-europa a:hover #bt-estonia .st0,
#info-europa a:focus #bt-estonia .st0 {
  transition: .3s;
  fill:#253b74;
}

#info-europa a:hover #bt-dinamarca .st8,
#info-europa a:focus #bt-dinamarca .st8 {
  transition: .3s;
  fill: #b8830c;
}

#info-europa a:hover #bt-dinamarca .st1,
#info-europa a:focus #bt-dinamarca .st1 {
  transition: .3s;
  fill:#b8830c;
}