/* --- CODE --- */

/* CÓDIGO COM FUNDO PRETO E BOTÃO DE COPIAR */
.code-container {
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: var(--fio-sys-size-padding-md);
    border-radius: var(--fio-sys-size-radius-sm);
    font-family: Consolas, "Courier New", monospace;
    font-size: 20px;
    position: relative;
    overflow-x: auto;
    word-wrap: break-word;
}

.code-container .heading__block {
    margin-bottom: 0;
    border-bottom: 1px solid var(--fio-sys-color-secondary-medium);
}

.code-container .heading__title {
    margin: 0;
    padding-bottom: var(--fio-sys-size-padding-xs);
    color: var(--fio-sys-color-accent-extra-dark-contrast);
}

.code-container pre {
    margin: 0;
    white-space: pre-wrap;
}

/* mantém quebras e espaços tal qual no HTML final */
.code-container code {
    display: block;
    outline: none;
}

.code-container code p {
    color: #d4d4d4;
    font-family: Consolas, "Courier New", monospace;
    font-size: 20px;
}

/* cores de sintaxe */
.code-container .keyword {
    color: #569cd6;
}

.code-container .variable {
    color: #9cdcfe;
}

.code-container .number {
    color: #b5cea8;
}

.code-container .function {
    color: #dcdcaa;
}

.code-container .comment {
    color: #6a9955;
    font-style: italic;
}

.code-container .copy-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #333;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.code-container .copy-btn:hover {
    background: var(--fio-sys-color-accent-dark-contrast);
    color: #333;
}

/* Acessibilidade visual do foco */
.code-container .copy-btn:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
}


/* CÓDIGO APENAS EXEMPLO */
.code-example-container {
    background-color: transparent;
    color: var(--fio-sys-color-tertiary-medium) !important;
    border-radius: var(--fio-sys-size-radius-sm);
    font-family: Consolas, "Courier New", monospace;
    font-size: var(--fio-sys-typography-size-2);
    font-weight: bold;
    position: relative;
    overflow-x: auto;
    word-wrap: break-word;
    padding:0;
    margin:0;
}

.code-example-container pre {
    margin: 0;
    padding:0;
    white-space: pre-wrap;
}

/* mantém quebras e espaços tal qual no HTML final */
.code-example-container code {
    display: block;
    outline: none;
}